shell = "zsh"
[plugins.zsh-defer]
github = "romkatv/zsh-defer"
[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = ["{{ name }}.zsh"]
[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
[plugins.starship]
inline = 'eval "$(starship init zsh)"'
